// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "list/list";
@import "events/events";
@import "add-item/add-item";
@import "login/login";

.background{
    background: rgba(247,146,52,1);
    background: -moz-linear-gradient(left, rgba(247,146,52,1) 0%, rgba(241,111,92,1) 33%, rgba(166,84,199,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(247,146,52,1)), color-stop(33%, rgba(241,111,92,1)), color-stop(100%, rgba(166,84,199,1)));
    background: -webkit-linear-gradient(left, rgba(247,146,52,1) 0%, rgba(241,111,92,1) 33%, rgba(166,84,199,1) 100%);
    background: -o-linear-gradient(left, rgba(247,146,52,1) 0%, rgba(241,111,92,1) 33%, rgba(166,84,199,1) 100%);
    background: -ms-linear-gradient(left, rgba(247,146,52,1) 0%, rgba(241,111,92,1) 33%, rgba(166,84,199,1) 100%);
    background: linear-gradient(to right, rgba(247,146,52,1) 0%, rgba(241,111,92,1) 33%, rgba(166,84,199,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f79234', endColorstr='#a654c7', GradientType=1 );
}

.access-page .logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.access-page .logo img {
  max-width: 150px;
}
